_target_: roboverse_learn.il.fm.policies.fm_unet_image_policy.FlowMatchingUnetImagePolicy


shape_meta: ${shape_meta}

obs_encoder:
  _target_: roboverse_learn.il.dp.models.vision.multi_image_obs_encoder.MultiImageObsEncoder
  shape_meta: ${shape_meta}
  rgb_model:
    _target_: roboverse_learn.il.dp.models.vision.model_getter.get_resnet
    name: resnet18
    weights: null
  resize_shape: null
  crop_shape: null
  # constant center crop
  random_crop: True
  use_group_norm: True
  share_rgb_model: False
  imagenet_norm: True

horizon: ${horizon}
n_action_steps: ${eval:'${n_action_steps}+${n_latency_steps}'}
n_obs_steps: ${n_obs_steps}
obs_as_global_cond: ${obs_as_global_cond}
num_inference_steps: 10

diffusion_step_embed_dim: 128
down_dims: [256, 512, 1024]
kernel_size: 5
n_groups: 8
cond_predict_scale: True
